<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/form.input.js"></script>
</head>
<body>

<h1>匹配正则表达式输入</h1>

<div>
    <label>只能输入数字</label>
    <input type="text" inputType="number" />
</div>

<div>
    <label>输入带小数点的数字</label>
    <input type="text" inputType="pointNumber" />
</div>

<div>
    <label>邮编</label>
    <input type="text" inputType="postalCode" />
</div>

</body>
</html>